/*@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");*/
@import "bootstrap";

/*=====   Theme for imleagues  base on bootstrap4.0 =======***/
$brand-primary:              #990000;
$navbar-top-bg:              #990000;
$card-title-bg:              $gray-lighter;

$font-family-sans-serif:     Raleway,Helvetica,Arial,sans-serif;


$btn-padding-x:                  .75rem;
$btn-padding-y:                  .1875rem;



////****  Multiplexing Functions Start  *****/////
@mixin second-logo-area{
	.navbar-second{
		.second-dec{
			position: relative;
			padding-left: 6rem;
		}
		.sec-avatar{ text-align: center; width: 90px; height: 90px; position: absolute; left: 0}
		.sec-avatar img{position: absolute; left: 0px; top: 0}
		.status{margin: 70px auto 0px auto;}	

		.btn{position: absolute; right: 0; bottom: .5rem;}
	}
}

@mixin second-logo-sm{
	.navbar-second{
		.sec-avatar{position: relative; top: 0;}
		.status{margin: -1.25rem auto 0 auto;}
		.btn{position:relative; }		
	}	

}
////****  Multiplexing Functions End  *****/////


body {font-size: $font-size-sm;}


.btn{@include button-size($btn-padding-y, $btn-padding-x, $font-size-sm, $line-height, $btn-border-radius);}
.form-control{ font-size: $font-size-sm; padding:$btn-padding-y $btn-padding-x;}
.dropdown-menu{font-size: .875rem;}

.card {margin-bottom: .5rem;}


.navbar-top,.iml-contact{background: $navbar-top-bg;}

.iml-header{z-index: $zindex-navbar-sticky;
	.breadcrumb{
		background: transparent; margin-bottom: 0; padding: 0;
		a{color: $navbar-dark-color;}
		> li {
			+ li:before {
				color: $navbar-dark-color;
			}
		}

		> .active{
			color: $navbar-dark-active-color;
		}
	}

	.navbar-dark {

	  .navbar-nav {
	    .nav-link {
	      padding-top:    .25rem;
	      padding-bottom: .25rem;
	      
	    }

	   } 
	}

	.xs-top-left{position: absolute;left: .625rem; top: 0;}
	.xs-top-right{position: absolute;right: .625rem; top: 0;}
	.xs-top-left i,.xs-top-right i{font-size: 1.25rem;}
	.xs-top-right img{margin-top: -.2rem; width: 1.5rem;}
	.navbar-top{min-height: 2.5rem}

	.collapse{
		.nav-item{
			i.fa-home{font-size: 1.25rem;}
		}
	}

	.second-logo{background:$navbar-top-bg; border:0 solid transparent;}
	.status{border: 0 solid $btn-warning-bg; border-radius: 2rem; font-size: 0.75rem; background: #fff; color: #333;}
	
	/*=> leagues status start <=*/
	.status-additions{
		.status,.second-logo{border-color:$btn-warning-bg;}
	}

	.status-close{
		.status,.second-logo{border-color:$gray-light;}
	}

	.status-upcoming{
		.status,.second-logo{border-color:$brand-danger;}
	}

	/*=> leagues status end <=*/

	.iml-logo{position: absolute; left: 50%; margin-left: -1rem; margin-top: .25rem;
		img{height: 1.5rem;}
	}

	.navbar-brand{float: none; margin: 0px; font-size: $font-size-sm; display: inline-block;}


}


.navbar-top{
	position: fixed; z-index: 1031;
	padding: .25rem 0;
	.container{position: relative;}
	.search-top-xs{
		display: none; 
		background: $navbar-dark-active-color;  position:absolute;left: .625rem; right: .625rem; border-radius: 2rem; padding:0 1.25rem;
		input{border: 0;height: 2rem; line-height: 2; width: 90%; }
		i{ position: absolute; left: 0; top: .52rem; left: .875rem;}
		.close{position:absolute; right: 1rem; top: .2rem;}
	}
}


.navbar-second{
	background:$navbar-top-bg;
	opacity:0.8;
	padding:3rem .5rem .5rem .5rem;
	.sec-heading{
		margin-bottom: 0; 
		a{color: $navbar-dark-active-color; font-weight: 300;}
	}
	.second-logo{border-width: 0.1875rem; width: 5.625rem; height: 5.625rem;}
	.status{padding:0 $btn-padding-x; border-width: 3px; position: relative; display: table;}

}


.navbar-bottom{
	background: #fff; border-bottom:$card-border-color solid 1px;
	z-index: $zindex-navbar-sticky;
	.navbar{padding: .25rem 0;}
	.end-dec{display: none;}

	.iml-menu li{float:left;}
	.second-dec{
		position: relative;
		.sec-txt{padding-left: 3rem;}
	}	

	.sec-avatar{
		text-align: center;
		position: absolute;
		.second-logo{width: 2.625rem; height: 2.625rem; border-width: .125rem; }
		.status{padding:0 0.25rem; border-width: 2px; -webkit-transform: scale(0.75); -o-transform: scale(1); display: table; font-size: .375rem; margin: -1rem auto 0 auto;  text-align: center;}
	}
	
	.sec-heading{
		text-align: left; font-size: 1rem; margin-bottom: 0; margin-top: .25rem;
			a{ padding: 0 .25rem; font-weight: normal; color: $navbar-light-active-color;}
	}
	.breadcrumb{
		background: transparent; margin-bottom: 0; padding: 0; text-align: left;
		a{color: $navbar-light-color; padding: 0 .25rem;}
		> li {
			+ li:before {
				color: $navbar-light-color;
			}
		}

		> .active{
			color: $navbar-light-active-color;
		}
	}

}



.navbar-nav{
	.nav-search{
		position: relative;border-radius: 2rem; border: 1px solid $btn-secondary-border; padding:.5rem 1rem .5rem 0rem;
		.form-control{
			border: 0; background: transparent; color: $navbar-dark-active-color;  border: 0; height: 21px;

		}
		
		i{position: absolute; right: .75rem; top:.35rem; color: #fff;}
		a i{color: $navbar-dark-color;}
		a:hover i{color: $navbar-dark-active-color;}
	}
	.nav-search:hover{border-color: $navbar-dark-active-color;}
	.network{
		.dropdown-toggle{
			position: relative;
			padding-left: 2rem;
		}
		.dropdown-toggle img{
			position: absolute;
			left: .75rem;
			top: .3rem;
		}
		.btn-top{border-color: $navbar-dark-color;}
		.btn-top:hover{border-color: $navbar-dark-active-color;}
		.dropdown-item{position: relative; font-size: .875rem; padding-left: 32px;
			img{position: absolute; left: .75rem; top: .3rem;}
			a{color: $navbar-light-active-color;}
		}
	}


} 


.iml-main-container{padding-top: 0.625rem; padding-bottom: 0.625rem;}



.card-iml{
	 background: #FAFAFA;

	.card-iml-info li{
		padding:.5rem 1rem .5rem 3.25rem; position: relative; border-top: $card-border-color solid 1px;
	}
	.card-iml-info li i{position: absolute;left: 1rem; top: .6rem; font-size: 1.5rem;}

	.card-iml-info{padding: 0px .625rem;}
	
	.card-iml-top{padding:.25rem .5rem; background: #fff; border-top-left-radius: $card-border-radius;border-top-right-radius: $card-border-radius;}
	.card-iml-title{font-size: $font-size-sm; margin-top: .4rem;}
	.info-title,p{font-size:$font-size-xs; margin-bottom: 0.25rem; line-height: 1.125}
}



.card-main{
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	.card-body{padding: .5rem;
		.top-print{
			line-height: 1;
			position: relative;
			padding-left: 1.5rem;
			.l-icon{position: absolute; left: 0px; top: .25rem; font-size: 1.25rem}
		}
	}
	.iml-blank-notice i{
		font-size: 3rem;
	}
	.iml-blank-notice p{
		margin: .5rem 0; font-size: 1.125rem;
	}
	.card-title{
		background:$card-title-bg; 
		border-top-left-radius: $card-border-radius; 
		border-top-right-radius: $card-border-radius;
		padding: 0.35rem .75rem;
		margin: 0;
		line-height: 1;
	}
	h6{margin-bottom:0; font-weight:normal;}
	i.status{font-size: 1rem; margin-top: .25rem; }
}


.iml-contact{
	color: $navbar-dark-active-color;
	a{color: $navbar-dark-active-color;}
	.container{padding: 1rem;}
	.top-icon{
		font-size: 2rem;
	}	
	.contact-title{
		color: $navbar-dark-color;
	}
	p{margin: .5rem 0;}
}

.iml-banner{padding: .5rem 0;}

.iml-default-footer{
	padding: .5rem 0;
	p{
		margin-bottom: .5rem;
	}

}

.team-list{
	thead th{border-top: 0px; font-size: 0.875rem; font-weight: normal; padding: .25rem; -webkit-transform: scale(0.75); -o-transform: scale(1);color: $gray;}
	.team-logo{position: absolute;}
	.img-right{padding-left: 2.25rem;}
	h5{font-size: .875rem; margin-bottom: 0; font-weight: normal;}
	tbody th,td{padding: .25rem;font-size: .75rem; vertical-align: middle;}
	
}

.main-tabs{
	//margin-bottom: -.5rem !important;

	> ul > li{float: left; display: block; position: relative; padding: .25rem 0;}
	> ul > li > a:after{width: 0; height: 2px; background: #9a0400; display: block; position: absolute; left: 50%; bottom: -.25rem; content: ""; transition: all .2s ease-in-out;}
	> ul > li > a.active:after,> ul > li > a:hover:after{ width: 100%; left: 0;}
	.dropdown-item{padding: 0px 16px;}
} 


/*===== navbar media query =======***/
@include media-breakpoint-up(xs) {
	@include second-logo-sm;

	.main-tabs{ display:table;  float: none; margin: 0 auto;
		a span{display: none;}
		> ul > li{margin: 0rem .25rem;}
		> ul > li > a{padding: 0 .5rem;}
	}	
	.contact-banner{display:none;}

	tbody th{min-width:auto;}
}


@include media-breakpoint-up(sm) {
	.main-tabs{ display:table; float: none; margin: 0 auto;
		a span{display: none;}
		> ul > li{margin: 0rem .625rem;}
		> ul > li > a{padding: 0 1rem;}
	}
	
	.contact-banner{display:none;}

	tbody th{min-width:auto;}
}

@include media-breakpoint-up(md) {
	@include second-logo-area;

	.main-tabs{ display:table; float: right;
		a span{display: none;}
		> ul > li{margin: 0rem .625rem;}
		> ul > li > a{padding: 0 1rem;}
	}
	.col-sidebar{width: 316px;}
	.col-main{margin-left: 316px; width: auto; float: none;}
	.contact-banner{display:none;}
	tbody th{min-width:auto;}
}

@include media-breakpoint-up(lg) {
	.main-tabs{ 
		display:table; float: right;
		a span{display:inline-block;}
		> ul > li{margin: 0rem .625rem;}
		> ul > li > a{padding: 0 1rem;}
	}


	.contact-banner{display: block;}
	.col-sidebar{width: 316px;}
	.col-main{margin-left: 316px; width: auto; float: none;}
	tbody th{min-width: 16.75rem;}
}



.table-toggleable{
  &-xs {
    @include media-breakpoint-up(sm) {
      display: block !important;
    }
  }
  &-sm {
    @include media-breakpoint-up(md) {
      display: block !important;
    }
  }
  &-md {
    @include media-breakpoint-up(lg) {
      display: block !important;
    }
  }
}

.navbar-bottom-left{
  &-xs {
    @include media-breakpoint-up(sm) {
      display: none !important;
    }
  }

  &-sm {
    @include media-breakpoint-up(md) {
      display: block !important;
    }
  }
  
}



.btn-xs {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, .625rem, 1, $btn-border-radius-sm);
}



