/** Font **/
/* over variables  */
body {
  font-size: .85rem;
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #F5F5F5; }

.btn-default {
  color: #373a3c;
  background-color: #fff;
  border-color: #ccc; }
  .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad; }
  .btn-default:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad; }
  .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default:disabled:focus, .btn-default:disabled.focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #ccc; }
  .btn-default.disabled:hover, .btn-default:disabled:hover, fieldset[disabled] .btn-default:hover {
    background-color: #fff;
    border-color: #ccc; }

.btn--default {
  border-width: 2px; }

/*.btn{@include button-size($btn-padding-y, $btn-padding-x, $font-size-sm, $line-height, $btn-border-radius);}*/
.btn-xs {
  padding: 0.25rem 0.5rem;
  font-size: 0.625rem;
  line-height: 1;
  border-radius: 0.2rem; }

.dropdown-xs {
  min-height: 1rem !important;
  padding-left: .5rem;
  padding-right: .5rem; }

.dropdown-menu {
  font-size: .875rem; }

.dropdown-menu li {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #373a3c;
  white-space: nowrap;
  text-align: inherit;
  width: 100%;
  background: none;
  border: 0; }
  .dropdown-menu li:focus, .dropdown-menu li:hover {
    color: #2b2d2f;
    text-decoration: none;
    background-color: #f5f5f5;
    outline: 0; }
  .dropdown-menu li.selected, .dropdown-menu li.selected:focus, .dropdown-menu li.selected:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0275d8;
    outline: 0; }
  .dropdown-menu li.selected a {
    color: #fff;
    outline: 0;
    text-decoration: none; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 34em) {
    .container {
      max-width: 34rem; } }
  @media (min-width: 48em) {
    .container {
      max-width: 45rem; } }
  @media (min-width: 62em) {
    .container {
      max-width: 60rem; } }
  @media (min-width: 75em) {
    .container {
      max-width: 63.5rem; } }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 34em) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 48em) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 62em) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
@media (min-width: 75em) {
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left; }

  .col-xl-1 {
    width: 8.33333%; }

  .col-xl-2 {
    width: 16.66667%; }

  .col-xl-3 {
    width: 25%; }

  .col-xl-4 {
    width: 33.33333%; }

  .col-xl-5 {
    width: 41.66667%; }

  .col-xl-6 {
    width: 50%; }

  .col-xl-7 {
    width: 58.33333%; }

  .col-xl-8 {
    width: 66.66667%; }

  .col-xl-9 {
    width: 75%; }

  .col-xl-10 {
    width: 83.33333%; }

  .col-xl-11 {
    width: 91.66667%; }

  .col-xl-12 {
    width: 100%; }

  .col-xl-pull-0 {
    right: auto; }

  .col-xl-pull-1 {
    right: 8.33333%; }

  .col-xl-pull-2 {
    right: 16.66667%; }

  .col-xl-pull-3 {
    right: 25%; }

  .col-xl-pull-4 {
    right: 33.33333%; }

  .col-xl-pull-5 {
    right: 41.66667%; }

  .col-xl-pull-6 {
    right: 50%; }

  .col-xl-pull-7 {
    right: 58.33333%; }

  .col-xl-pull-8 {
    right: 66.66667%; }

  .col-xl-pull-9 {
    right: 75%; }

  .col-xl-pull-10 {
    right: 83.33333%; }

  .col-xl-pull-11 {
    right: 91.66667%; }

  .col-xl-pull-12 {
    right: 100%; }

  .col-xl-push-0 {
    left: auto; }

  .col-xl-push-1 {
    left: 8.33333%; }

  .col-xl-push-2 {
    left: 16.66667%; }

  .col-xl-push-3 {
    left: 25%; }

  .col-xl-push-4 {
    left: 33.33333%; }

  .col-xl-push-5 {
    left: 41.66667%; }

  .col-xl-push-6 {
    left: 50%; }

  .col-xl-push-7 {
    left: 58.33333%; }

  .col-xl-push-8 {
    left: 66.66667%; }

  .col-xl-push-9 {
    left: 75%; }

  .col-xl-push-10 {
    left: 83.33333%; }

  .col-xl-push-11 {
    left: 91.66667%; }

  .col-xl-push-12 {
    left: 100%; }

  .col-xl-offset-0 {
    margin-left: 0%; }

  .col-xl-offset-1 {
    margin-left: 8.33333%; }

  .col-xl-offset-2 {
    margin-left: 16.66667%; }

  .col-xl-offset-3 {
    margin-left: 25%; }

  .col-xl-offset-4 {
    margin-left: 33.33333%; }

  .col-xl-offset-5 {
    margin-left: 41.66667%; }

  .col-xl-offset-6 {
    margin-left: 50%; }

  .col-xl-offset-7 {
    margin-left: 58.33333%; }

  .col-xl-offset-8 {
    margin-left: 66.66667%; }

  .col-xl-offset-9 {
    margin-left: 75%; }

  .col-xl-offset-10 {
    margin-left: 83.33333%; }

  .col-xl-offset-11 {
    margin-left: 91.66667%; }

  .col-xl-offset-12 {
    margin-left: 100%; } }
.row {
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

.show {
  display: block !important; }

.hidden {
  display: none !important; }

.dropdown-item a:hover {
  text-decoration: none; }

.navbar-top, .iml-contact {
  background: #086308; }

.iml-main-container {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem; }

.iml-header {
  z-index: 1030;
  /*=> mobile menu start <=*/
  /*=> mobile menu end <=*/
  /*=> leagues status start <=*/
  /*=> leagues status end <=*/ }
  .iml-header .form-control {
    font-size: 0.85rem;
    padding: 0.375rem 1rem; }
  .iml-header .breadcrumb {
    background: transparent;
    margin-bottom: 0;
    padding: 0; }
    .iml-header .breadcrumb a {
      color: rgba(255, 255, 255, 0.5); }
    .iml-header .breadcrumb > li + li:before {
      color: rgba(255, 255, 255, 0.5); }
    .iml-header .breadcrumb > .active {
      color: white; }
  .iml-header .navbar-top .navbar-nav .nav-link {
    padding-top: .25rem;
    padding-bottom: .25rem; }
  .iml-header .xs-top-left {
    position: absolute;
    left: .625rem;
    top: 0; }
  .iml-header .xs-top-right {
    position: absolute;
    right: .625rem;
    top: 0; }
  .iml-header .xs-top-left i, .iml-header .xs-top-right i {
    font-size: 1.25rem; }
  .iml-header .xs-top-right img {
    margin-top: -.2rem;
    width: 1.5rem; }
  .iml-header .navbar-top {
    min-height: 2.5rem; }
  .iml-header .collapse .nav-item i.fa-home {
    font-size: 1.25rem; }
  .iml-header .second-logo {
    background: #086308;
    border: 0 solid transparent; }
  .iml-header .status {
    border: 0 solid #f0ad4e;
    border-radius: 2rem;
    font-size: 0.75rem;
    background: #fff;
    color: #333; }
  .iml-header .status-additions .status, .iml-header .status-additions .second-logo {
    border-color: #f0ad4e; }
  .iml-header .status-close .status, .iml-header .status-close .second-logo {
    border-color: #818a91; }
  .iml-header .status-upcoming .status, .iml-header .status-upcoming .second-logo {
    border-color: #d9534f; }
  .iml-header .iml-logo {
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    margin-top: .25rem; }
    .iml-header .iml-logo img {
      height: 1.5rem; }
  .iml-header .navbar-brand {
    float: none;
    margin: 0px;
    font-size: 0.85rem;
    display: inline-block; }
  .iml-header .navbar-nav .nav-search {
    position: relative;
    border-radius: 2rem;
    padding: .5rem 1rem .5rem 0rem;
    background: rgba(255, 255, 255, 0.2); }
    .iml-header .navbar-nav .nav-search .form-control {
      border: 0;
      background: transparent;
      color: white;
      border: 0;
      height: 21px; }
    .iml-header .navbar-nav .nav-search i {
      position: absolute;
      right: .75rem;
      top: .35rem;
      color: #fff; }
    .iml-header .navbar-nav .nav-search a i {
      color: rgba(255, 255, 255, 0.5); }
    .iml-header .navbar-nav .nav-search a:hover i {
      color: white; }
    .iml-header .navbar-nav .nav-search ::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .iml-header .navbar-nav .nav-search :-moz-placeholder {
      /* Firefox 18- */
      color: rgba(255, 255, 255, 0.5); }
    .iml-header .navbar-nav .nav-search ::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.5); }
    .iml-header .navbar-nav .nav-search :-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
  .iml-header .navbar-nav .nav-search:hover {
    border-color: white; }
  .iml-header .navbar-nav .network .dropdown-toggle {
    position: relative;
    padding-left: 2rem; }
  .iml-header .navbar-nav .network .dropdown-toggle img {
    position: absolute;
    left: .75rem;
    top: .3rem; }
  .iml-header .navbar-nav .network .btn-top {
    border-color: rgba(255, 255, 255, 0.5); }
  .iml-header .navbar-nav .network .btn-top:hover {
    border-color: white; }
  .iml-header .navbar-nav .network .dropdown-item {
    position: relative;
    font-size: .875rem;
    padding-left: 32px; }
    .iml-header .navbar-nav .network .dropdown-item img {
      position: absolute;
      left: .75rem;
      top: .3rem; }
    .iml-header .navbar-nav .network .dropdown-item a {
      color: rgba(0, 0, 0, 0.8); }

.navbar-top {
  position: fixed;
  z-index: 1031;
  padding: .25rem 0; }
  .navbar-top .container {
    position: relative; }
  .navbar-top .search-top-xs {
    display: none;
    background: white;
    position: absolute;
    left: .625rem;
    right: .625rem;
    border-radius: 2rem;
    padding: 0 1.25rem; }
    .navbar-top .search-top-xs input {
      border: 0;
      height: 2rem;
      line-height: 2;
      width: 90%; }
    .navbar-top .search-top-xs i {
      position: absolute;
      left: 0;
      top: .52rem;
      left: .875rem; }
    .navbar-top .search-top-xs .close {
      position: absolute;
      right: 1rem;
      top: .2rem; }

.navbar-second {
  background: #086308;
  opacity: 0.8;
  padding: 3rem .5rem .5rem .5rem; }
  .navbar-second .sec-heading {
    margin-bottom: 0; }
    .navbar-second .sec-heading a {
      color: white;
      font-weight: 300; }
  .navbar-second .second-logo {
    border-width: 0.1875rem;
    width: 5.625rem;
    height: 5.625rem; }
  .navbar-second .status {
    padding: 0 1rem;
    border-width: 3px;
    position: relative;
    display: table; }

.navbar-bottom {
  background: #fff;
  border-bottom: #e5e5e5 solid 1px;
  z-index: 1030; }
  .navbar-bottom .navbar {
    padding: .25rem 0; }
  .navbar-bottom .end-dec {
    display: none; }
  .navbar-bottom .iml-menu li {
    float: left; }
  .navbar-bottom .second-dec {
    position: relative;
    width: 308px; }
    .navbar-bottom .second-dec .sec-txt {
      padding-left: 3rem; }
  .navbar-bottom .sec-avatar {
    text-align: center;
    position: absolute; }
    .navbar-bottom .sec-avatar .second-logo {
      width: 2.625rem;
      height: 2.625rem;
      border-width: .125rem; }
    .navbar-bottom .sec-avatar .status {
      padding: 0 0.25rem;
      border-width: 2px;
      -webkit-transform: scale(0.75);
      -o-transform: scale(1);
      display: table;
      font-size: .375rem;
      margin: -1rem auto 0 auto;
      text-align: center; }
  .navbar-bottom .sec-heading {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: .25rem; }
    .navbar-bottom .sec-heading a {
      padding: 0 .25rem;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.8); }
  .navbar-bottom .breadcrumb {
    background: transparent;
    margin-bottom: 0;
    padding: 0;
    text-align: left; }
    .navbar-bottom .breadcrumb a {
      color: rgba(0, 0, 0, 0.3);
      padding: 0 .25rem; }
    .navbar-bottom .breadcrumb > li + li:before {
      color: rgba(0, 0, 0, 0.3); }
    .navbar-bottom .breadcrumb > .active {
      color: rgba(0, 0, 0, 0.8); }

.navbar-bottom-sticky {
  border-bottom: 0;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12); }

.iml-btn-nav .btn-secondary.active {
  background: #A7ADB6;
  color: #fff; }

.card-main, .card-iml {
  margin-bottom: .5rem; }

.iml-card-head {
  background: #A7ADB6;
  padding: 0.35rem .75rem;
  margin: 0;
  color: #fff;
  border-bottom: none; }
  .iml-card-head small, .iml-card-head small a {
    color: rgba(255, 255, 255, 0.75); }
  .iml-card-head.default-title {
    background: #fff;
    color: #373a3c; }

.left-icon {
  padding-left: 2.25rem;
  line-height: 1;
  position: relative; }

.card-main {
  background: #fff;
  border-width: 0;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12); }
  .card-main .card-body {
    padding: .5rem; }
    .card-main .card-body .top-print {
      line-height: 1;
      position: relative;
      padding-left: 1.5rem;
      overflow: hidden; }
      .card-main .card-body .top-print .l-icon {
        position: absolute;
        left: 0px;
        top: .25rem;
        font-size: 1.25rem; }
    .card-main .card-body .under-line {
      border-bottom: #eceeef 1px solid; }
  .card-main .iml-blank-notice i {
    font-size: 3rem; }
  .card-main .iml-blank-notice p {
    margin: .5rem 0;
    font-size: 1.125rem; }
  .card-main .itb {
    padding: 0.5rem 0.75rem; }
  .card-main .itm td {
    border-bottom: 1px solid #eceeef;
    border-top: none;
    padding: .5rem .25rem; }
  .card-main .sn {
    min-width: 4rem; }
  .card-main h6 {
    margin-bottom: 0;
    font-weight: normal; }
  .card-main small {
    display: block; }
  .card-main i.status {
    font-size: 1.25rem;
    margin-top: .25rem;
    position: absolute;
    left: 5px;
    top: 8px;
    color: #fff; }
  .card-main .card-tabs {
    border-bottom: #eceeef solid 1px;
    padding: .5rem .5rem 0px .5rem; }
    .card-main .card-tabs:before, .card-main .card-tabs:after {
      content: " ";
      display: table; }
    .card-main .card-tabs:after {
      clear: both; }
    .card-main .card-tabs h5 {
      margin-bottom: 0; }
    .card-main .card-tabs a.a-tab {
      padding: 0 1rem .5rem 1rem;
      display: block;
      float: left;
      margin-bottom: -1px;
      margin-right: .5rem;
      margin-left: .5rem; }
    .card-main .card-tabs a.active {
      color: #5cb85c;
      border-bottom: #5cb85c 1px solid; }

.iml-contact {
  color: white; }
  .iml-contact a {
    color: white; }
  .iml-contact .container {
    padding: 1rem; }
  .iml-contact .top-icon {
    font-size: 2rem; }
  .iml-contact .contact-title {
    color: rgba(255, 255, 255, 0.5); }
  .iml-contact p {
    margin: .5rem 0; }

.iml-banner {
  padding-bottom: 0.5rem; }

.iml-default-footer {
  padding: .5rem 0; }
  .iml-default-footer p {
    margin-bottom: .5rem; }

.team-list thead th {
  border-top: 0px;
  font-size: 0.5rem;
  font-weight: normal;
  padding: .25rem;
  color: #55595c; }
.team-list .team-logo {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem; }
.team-list .img-right {
  padding-left: 3rem; }
.team-list h5 {
  font-size: 1rem;
  margin: .25rem 0;
  font-weight: normal; }
.team-list tbody th, .team-list td {
  padding: .5rem .25rem;
  font-size: .75rem;
  vertical-align: middle; }
.team-list th.th1 {
  width: 5rem; }

.sidebar-list {
  margin-bottom: 0; }
  .sidebar-list thead th {
    font-weight: bold; }
  .sidebar-list tbody th, .sidebar-list td {
    padding: .25rem;
    font-size: .75rem;
    vertical-align: middle; }

.main-tabs > ul > li {
  float: left;
  display: block;
  position: relative;
  padding: .25rem 0;
  margin: 0rem .625rem; }
.main-tabs > ul > li > a {
  font-weight: bold; }
.main-tabs > ul > li > a:after {
  width: 0;
  height: 2px;
  background: #086308;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -.25rem;
  content: "";
  transition: all .2s ease-in-out; }
.main-tabs > ul > li.active:after, .main-tabs > ul > li > a:hover:after, .main-tabs > ul > li.active > a:after {
  width: 100%;
  left: 0; }
.main-tabs .dropdown-item {
  padding: 0px 16px; }

.card-iml {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
  border: 0; }
  .card-iml .card-iml-info li {
    padding: .5rem 1rem .5rem 3.25rem;
    position: relative;
    border-top: #e5e5e5 solid 1px; }
  .card-iml .card-iml-info li i {
    position: absolute;
    left: 1rem;
    top: .6rem;
    font-size: 1.5rem; }
  .card-iml .card-iml-info {
    padding: 0px .5rem; }
  .card-iml .card-iml-top {
    padding: .25rem .5rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  .card-iml .card-iml-title {
    font-size: 0.85rem;
    margin-top: .4rem; }
  .card-iml .info-title, .card-iml p {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    line-height: 1.125; }

.member-avatar {
  position: relative; }

.message-badge {
  position: absolute;
  top: -2px;
  left: -.5rem;
  background-color: #f4394b;
  -webkit-border-radius: 2px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 0px 4px;
  border-radius: 20px;
  display: block;
  height: 1rem;
  min-width: 1rem;
  color: white;
  text-align: center;
  line-height: 16px;
  font-size: 11px;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s;
  background: #cd4b5b; }

.iml-default__banner {
  position: relative;
  overflow: hidden; }

.iml-video {
  min-height: 300px;
  padding: 1rem 0;
  background: #ed9118; }

.joinbox {
  background: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  padding: .5rem; }
  .joinbox h5 {
    margin: .5rem 0 1rem 0;
    color: #ed9118;
    font-weight: bold; }

.synd-stack {
  background: #333;
  height: 344px; }

.school-list-box .school-list-h {
  height: 14.75rem; }
.school-list-box .search--school {
  margin: .5rem 0;
  position: relative; }
.school-list-box .default-school-list {
  padding: 0; }
  .school-list-box .default-school-list li {
    list-style-type: none;
    padding: .5rem 0 .5rem 2.25rem;
    margin-right: 1rem;
    position: relative;
    border-bottom: #eceeef 1px solid;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease; }
    .school-list-box .default-school-list li .school-list-logo {
      position: absolute;
      left: .5rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%; }
    .school-list-box .default-school-list li a {
      color: #818a91; }
  .school-list-box .default-school-list li:hover {
    border-bottom-color: #ed9118; }
    .school-list-box .default-school-list li:hover a {
      color: #ed9118;
      text-decoration: none; }

.partner-links {
  padding: .5rem 1rem;
  background: #fff;
  width: 300px;
  margin: .5rem auto 0 auto;
  border-radius: .25rem;
  text-align: center; }

.iml-why .easy, .iml-why .free, .iml-why .support, .iml-why .fun, .iml-take .iml-take-btn a.desktop, .iml-take .iml-take-btn a.tablet, .iml-take .iml-take-btn a.app {
  background: url(http://www.imleagues.com/FrontPagesWithNewStyle/ui/images/default-icons.png) no-repeat; }

.iml-why {
  background: #f5f5f5;
  padding: 40px 0; }

.iml-why .easy, .iml-why .free, .iml-why .support, .iml-why .fun {
  display: block;
  width: 75px;
  height: 75px;
  margin: 20px 20px 0 0;
  transition: all 0.1s linear; }

.iml-why .easy {
  background-position: -627px 0; }

.iml-why .easy-area:hover .easy {
  background-position: -702px 0px; }

.iml-why .free {
  background-position: -629px -70px; }

.iml-why .free-area:hover .free {
  background-position: -704px -70px; }

.iml-why .support {
  background-position: -630px -227px; }

.iml-why .support-area:hover .support {
  background-position: -705px -227px; }

.iml-why .fun {
  background-position: -632px -146px; }

.iml-why .fun-area:hover .fun {
  background-position: -707px -146px; }

.iml-why .easy-area:hover, .iml-why .easy-area:hover p, .iml-why .free-area:hover, .iml-why .free-area:hover p, .iml-why .support-area:hover, .iml-why .support-area:hover p, .iml-why .fun-area:hover, .iml-why .fun-area:hover p {
  color: #2661a0;
  cursor: pointer; }

.iml-why p {
  font-size: 16px;
  color: #555; }

.iml-why .col-sm-6 {
  padding: 20px; }

.iml-default-titles {
  margin: 1rem 0; }

.iml-using-schools {
  background: url(http://www.imleagues.com/FrontPagesWithNewStyle/ui/images/banner-logos.jpg) #225d9b repeat center center fixed; }

.iml-using-schools h2 {
  color: #fff; }

.iml-using-schools h2 span {
  color: #ed9118; }

.iml-using-schools .lead {
  font-size: 30px;
  color: #fff; }

.iml-using-schools .sign-btn {
  margin-top: 50px; }

.iml-using-schools .btn-outline {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  padding: 15px 30px; }

.iml-using-schools .btn-outline:hover, .iml-using-schools .btn-outline:focus, .iml-using-schools .btn-outline:active {
  color: #225d9b;
  background-color: #fff;
  border-color: #225d9b; }

.img-testimonials {
  background: #fff;
  padding: 1rem 0; }
  .img-testimonials h2 {
    padding: 1rem 0; }
  .img-testimonials .blockquote-reverse {
    border-right-width: 0;
    padding: 0rem 1rem;
    color: #373a3c; }
  .img-testimonials h5 {
    margin-bottom: 0;
    font-size: 0.85rem; }
  .img-testimonials .media-body {
    padding-right: .5rem; }

.img-testimonials blockquote {
  font-size: 1rem;
  color: #818a91; }

.img-testimonials .blockquote-reverse h5:before {
  content: '\00A0 \2014'; }

.iml-take {
  background: #fdd761;
  padding: 20px 0px;
  text-align: center;
  position: relative;
  min-height: 504px; }
  .iml-take .everywhere img {
    margin: 0 auto; }

.iml-take .everywhere, .iml-take .iml-take-btn {
  margin-bottom: 20px; }

.iml-take .iml-take-btn a:hover {
  text-decoration: none; }

.iml-take .iml-take-btn a.desktop, .iml-take .iml-take-btn a.tablet, .iml-take .iml-take-btn a.app {
  width: 140px;
  color: #8e7937;
  text-align: center;
  margin: 0px 15px;
  display: inline-block;
  padding-top: 46px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.iml-take .iml-take-btn a.desktop {
  background-position: -126px 0; }

.iml-take .iml-take-btn a.tablet {
  background-position: -285px 0px; }

.iml-take .iml-take-btn a.app {
  background-position: -445px 0; }

.iml-take .iml-take-btn a:hover {
  color: #333; }

.iml-take .iml-take-btn a:hover.desktop {
  background-position: -126px -80px; }

.iml-take .iml-take-btn a:hover.tablet {
  background-position: -285px -83px; }

.iml-take .iml-take-btn a:hover.app {
  background-position: -445px -80px; }

.iml-social, .iml-links {
  padding: 1rem 0; }

.iml-social {
  background: #373a3c;
  color: #fff; }
  .iml-social .dropdown-toggle:after {
    display: none; }

.iml-links {
  background: #232323;
  padding: 20px 0px 10px 0px;
  text-align: center;
  color: #a6a6a6;
  /** solial area */ }
  .iml-links .solial-media {
    padding: 0px;
    overflow: hidden;
    width: 310px;
    margin: 0 auto; }
  .iml-links .solial-media li {
    list-style: none;
    float: left;
    margin-right: 5px; }
  .iml-links .solial-media li a .fa-circle {
    color: #8b8b8b;
    opacity: 0.2; }
  .iml-links .solial-media li a:hover .fa-circle {
    opacity: 0.5; }
  .iml-links .solial-media li a .fa-twitter, .iml-links .solial-media li a .fa-facebook {
    color: #232323; }
  .iml-links .solial-media li a:hover .fa-twitter, .iml-links .solial-media li a:hover .fa-facebook {
    color: #fff; }
  .iml-links .solial-media .addFan {
    font-size: 11px;
    color: #8a8a8a; }
  .iml-links .solial-media iframe {
    width: 49px;
    height: 20px !important;
    margin: 10px 0 0 0px; }
  .iml-links .top {
    padding-bottom: 10px;
    margin-bottom: 0px; }
  .iml-links .top a {
    margin: 0px 10px;
    color: #fff; }
  .iml-links .copyright {
    padding-top: 5px; }

.iml-mobile-menu {
  display: none; }

.iml-input-group input, .iml-input-group .btn {
  height: 2.375rem; }

/*===== navbar media query =======***/
.navbar-second .sec-avatar {
  position: relative;
  top: 0; }
.navbar-second .status {
  margin: -1.25rem auto 0 auto; }
.navbar-second .btn {
  position: relative; }

.i-b-l {
  display: none; }

.i-b-r {
  display: block; }

.i-s-l {
  display: none; }

.i-s-r {
  display: block; }

.contact-banner {
  display: none; }

.main-tabs {
  display: table;
  float: none;
  margin: 0 auto; }
  .main-tabs > ul > li > a {
    padding: 0 1rem;
    font-size: 1.25rem; }
  .main-tabs a span {
    display: none; }

tbody th {
  min-width: auto; }

@media (min-width: 34em) {
  .contact-banner {
    display: none; }

  .main-tabs {
    display: table;
    float: none;
    margin: 0 auto; }
    .main-tabs > ul > li > a {
      padding: 0 1rem;
      font-size: 1.25rem; }
    .main-tabs a span {
      display: none; }

  tbody th {
    min-width: auto; } }
@media (min-width: 48em) {
  .navbar-second .second-dec {
    position: relative;
    padding-left: 6rem; }
  .navbar-second .sec-avatar {
    text-align: center;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0; }
  .navbar-second .sec-avatar img {
    position: absolute;
    left: 0px;
    top: 0; }
  .navbar-second .status {
    margin: 70px auto 0px auto; }
  .navbar-second .btn {
    position: absolute;
    right: 0;
    bottom: .5rem; }

  .i-b-l {
    display: block; }

  .i-b-r {
    display: none; }

  .i-s-l {
    display: block; }

  .i-s-r {
    display: none; }

  .main-tabs {
    display: table;
    float: left; }
    .main-tabs > ul > li > a {
      padding: 0 1rem;
      font-size: 1.25rem; }
    .main-tabs a span {
      display: none; }

  .col-sidebar {
    width: 316px; }

  .col-main {
    margin-left: 316px; }

  .contact-banner {
    display: none; }

  tbody th {
    min-width: auto; }

  .d-score-ticker .score-ticker h5 {
    min-width: 2.75rem; } }
@media (min-width: 62em) {
  .contact-banner {
    display: block; }

  .col-sidebar {
    width: 316px; }

  .col-main {
    margin-left: 316px;
    width: auto;
    float: none; }

  tbody th {
    min-width: 16.75rem; }

  .main-tabs {
    display: table;
    float: left; }
    .main-tabs > ul > li > a {
      padding: 0 1rem;
      font-size: 0.85rem; }
    .main-tabs a span {
      display: inline-block; }

  .d-score-ticker .score-ticker h5 {
    min-width: 6.75rem; } }
@media (min-width: 34em) {
  .table-toggleable-xs {
    display: block !important; } }
@media (min-width: 48em) {
  .table-toggleable-sm {
    display: block !important; } }
@media (min-width: 62em) {
  .table-toggleable-md {
    display: block !important; } }

@media (min-width: 34em) {
  .navbar-bottom-left-xs {
    display: none !important; } }
@media (min-width: 48em) {
  .navbar-bottom-left-sm {
    display: block !important; } }

/********************************
 * other tabs(leagues home)
 ********************************/
.d-score-ticker {
  padding: .5rem 1.5rem; }
  .d-score-ticker .prev, .d-score-ticker .next {
    cursor: pointer;
    background: #f7f7f9;
    display: block;
    position: absolute;
    top: 0rem;
    height: 100%;
    width: 1rem;
    text-align: center;
    vertical-align: middle;
    padding-top: 2rem;
    font-size: 1rem;
    color: #55595c;
    color: #eceeef; }
  .d-score-ticker .prev:hover, .d-score-ticker .next:hover {
    color: #818a91; }
  .d-score-ticker .prev {
    left: 0rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-right: #eceeef solid 1px; }
  .d-score-ticker .next {
    right: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-left: #eceeef solid 1px; }
  .d-score-ticker .owl-item {
    padding: 0 .25rem; }
  .d-score-ticker .score-ticker .item p {
    margin-bottom: 0;
    overflow: hidden; }
  .d-score-ticker .score-ticker h5 {
    background: #086308;
    color: #fff;
    font-size: 0.75rem;
    padding: .25rem .5rem;
    border-radius: 3px;
    text-align: center;
    margin-bottom: .25rem; }
  .d-score-ticker .score-ticker hr {
    margin: .25rem 0; }

.iml-igar .input-group-addon {
  background-color: transparent; }

.dropdown-toggle {
  min-height: 2rem; }

.card-end h6 {
  margin-bottom: .65rem; }
.card-end .label-warning {
  color: #fff !important; }

.bn {
  margin-bottom: 0 !important; }

.prl {
  padding: 0rem .25rem; }

.iml-m-nav a {
  padding: .25rem 0.75rem;
  font-size: 0.625rem;
  /*color: $gray-light;*/
  float: left; }

.nar {
  margin: .2rem 0 0 0; }

.tabt {
  margin-bottom: .5rem; }

.its {
  font-size: .75rem; }
  .its th {
    border-top: 0; }
  .its th, .its td {
    text-align: left;
    padding: .5rem .25rem; }
  .its .team-logo {
    width: 1.25rem;
    height: 1.25rem; }
  .its .img-right {
    padding: 0rem 0 0 .5rem; }
  .its .td1 {
    min-width: 6rem; }
  .its td.tbtn {
    text-align: right !important; }

.iml-nav-btn {
  position: absolute;
  right: .5rem;
  top: .5rem; }

.iml-dt-xs {
  min-height: 1rem !important; }

.google__img {
  padding: 0rem .125rem .125rem .125rem;
  background: #fff;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem; }

.iml-logo--b {
  padding: 1rem 0; }

.iml-logo--b img {
  width: 400px; }

.iml-hamburger {
  background: transparent;
  border: none;
  display: block;
  height: 32px;
  margin-left: 15px;
  position: fixed;
  width: 32px;
  z-index: 999; }

.iml-hamburger:hover, .iml-hamburger:focus, .iml-hamburger:active {
  outline: none; }

.iml-default-header {
  background: #fff;
  border-bottom: .25rem solid #19589b; }

.iml-navbar-toggle:hover, .iml-navbar-toggle:focus {
  background-color: #f9f9f9;
  outline: 0; }

.im-mobile-app__download {
  padding: .5rem 0;
  line-height: 2.25rem;
  background-color: #163B72;
  color: #fff; }
  .im-mobile-app__download .platform-img {
    height: 2.25rem;
    overflow: hidden; }
  .im-mobile-app__download .iml-ipt-grp i {
    font-size: 1.5rem; }
  .im-mobile-app__download .iml-ipt-grp label {
    margin-bottom: 0;
    margin: 0 .5rem;
    color: #D2E7FF; }
  .im-mobile-app__download .iml-ipt-grp input {
    border-right-width: 0; }
  .im-mobile-app__download .iml-ipt-grp .btn-r {
    margin-left: -2px; }
  .im-mobile-app__download .iml-ipt-grp .input-group-addon {
    background: #fff; }

.iml-mobile-menu {
  display: none; }

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000; }

.banner-sm img {
  margin: .5rem auto 0 auto; }

a {
  color: #818a91; }
  a:hover, a:active, a:focus {
    text-decoration: none; }
  a:hover {
    color: #55595c; }

.close-icon {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .close-icon:hover::before, .close-icon:hover::after {
    background: #fff; }
  .close-icon::before, .close-icon::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff; }
  .close-icon::before {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .close-icon::after {
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .close-icon.big {
    -moz-transform: scale(3);
    -o-transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transform: scale(3); }
  .close-icon.hairline::before, .close-icon.hairline::after {
    height: 1px; }

.iml-mobile-menu {
  display: block;
  padding: .5rem 0;
  position: fixed;
  width: 100%;
  min-height: 2.5rem;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: #eceeef solid 1px; }
  .iml-mobile-menu .container {
    position: relative; }
  .iml-mobile-menu .iml-mobile-logo img {
    margin: 0 auto;
    height: 1.5rem; }
  .iml-mobile-menu .iml-d-btn {
    position: absolute;
    right: .5rem;
    top: -.25rem; }

.navbar-menu-btn {
  position: absolute;
  left: .75rem;
  top: -.3rem;
  display: block;
  font-size: 1.5rem; }

.iml-default-content {
  padding-top: 2.5rem; }

.iml-default-header, .iml-ipt-grp {
  display: none; }

.synd-stack {
  margin-bottom: .5rem; }

.iml-mobile-navbar {
  display: none;
  position: relative; }
  .iml-mobile-navbar:before, .iml-mobile-navbar:after {
    content: " ";
    display: table; }
  .iml-mobile-navbar:after {
    clear: both; }
  .iml-mobile-navbar .iml-mobile-btn {
    width: 10%;
    height: 2.5rem;
    background: #818a91;
    border: none;
    text-align: center;
    position: fixed;
    z-index: 100000; }
  .iml-mobile-navbar .iml-mobile-main {
    width: 90%;
    background: #f7f7f9;
    margin-left: 10%;
    height: 100%; }
  .iml-mobile-navbar.menu--open {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    z-index: 10001;
    width: 100%;
    bottom: 0;
    border-right: solid 1px #ccc; }
    .iml-mobile-navbar.menu--open .iml-mobile-top {
      background: #fff;
      border-bottom: solid 1px #eceeef;
      position: relative;
      padding: .5rem 0; }
      .iml-mobile-navbar.menu--open .iml-mobile-top .iml-mobile-logo img {
        margin: 0 auto;
        height: 1.5rem; }
    .iml-mobile-navbar.menu--open .iml-mobile-bottom {
      padding: .5rem 0;
      background: #f7f7f9; }
    .iml-mobile-navbar.menu--open .mobile-menu {
      margin: 0;
      padding: 0;
      background: #fff; }
      .iml-mobile-navbar.menu--open .mobile-menu li {
        list-style-type: none;
        padding: .5rem 1rem;
        font-size: 1rem;
        border-bottom: #eceeef solid 1px; }
        .iml-mobile-navbar.menu--open .mobile-menu li.active {
          background: #f7f7f9; }
          .iml-mobile-navbar.menu--open .mobile-menu li.active a {
            color: #ed9118; }
        .iml-mobile-navbar.menu--open .mobile-menu li:hover {
          background: #f7f7f9; }
        .iml-mobile-navbar.menu--open .mobile-menu li i {
          float: right;
          font-size: 1.25rem;
          color: #818a91;
          margin-top: .2rem; }

.iml-mobile-wrapper.menu--open {
  right: 90%;
  margin-left: -90%;
  overflow: hidden;
  position: fixed;
  top: 0; }
  .iml-mobile-wrapper.menu--open .iml-default-content {
    padding-top: 0rem; }

.iml-default__banner {
  text-align: right;
  background: url(../../images/mobile-hero-img_640.jpg) center center no-repeat;
  /*.iml-logo--b img{width: 300px; margin: 0 auto;}*/ }
  .iml-default__banner .iml-what img {
    height: 4rem;
    position: absolute;
    right: 2.5rem;
    top: .5rem; }
  .iml-default__banner .iml-what .inner {
    padding: .25rem 7rem 0rem .25rem;
    background: rgba(255, 255, 255, 0.1);
    text-align: right; }
  .iml-default__banner .iml-what .inner h3 {
    margin-bottom: 0;
    font-size: 1.25rem; }
  .iml-default__banner .iml-what .inner p b {
    font-size: 1.25rem;
    color: #ED9118; }
  .iml-default__banner .iml-what .inner p {
    font-size: 1rem; }

.iml-logo--b {
  padding: .5rem 0; }

.google__img, .iml-logo--b img {
  display: none; }

.iml-what img {
  height: 6rem; }

.iml-using-schools {
  text-align: center;
  padding: 1rem .5rem; }
  .iml-using-schools h2 {
    font-size: 2rem; }
  .iml-using-schools .lead {
    font-size: 1.25rem; }
  .iml-using-schools .sign-btn {
    margin-top: 1rem; }

.partner-area-bottom img {
  margin-bottom: .5rem; }

@media (min-width: 34em) {
  .iml-default-content {
    padding-top: 2.5rem; }

  .iml-default-header, .iml-ipt-grp {
    display: none; }

  .synd-stack {
    margin-bottom: .5rem; }

  .iml-mobile-navbar {
    display: none;
    position: relative; }
    .iml-mobile-navbar:before, .iml-mobile-navbar:after {
      content: " ";
      display: table; }
    .iml-mobile-navbar:after {
      clear: both; }
    .iml-mobile-navbar .iml-mobile-btn {
      width: 10%;
      height: 2.5rem;
      background: #818a91;
      border: none;
      text-align: center;
      position: fixed;
      z-index: 100000; }
    .iml-mobile-navbar .iml-mobile-main {
      width: 90%;
      background: #f7f7f9;
      margin-left: 10%;
      height: 100%; }
    .iml-mobile-navbar.menu--open {
      overflow-x: hidden;
      overflow-y: auto;
      position: fixed;
      display: block;
      top: 0;
      right: 0;
      z-index: 10001;
      width: 100%;
      bottom: 0;
      border-right: solid 1px #ccc; }
      .iml-mobile-navbar.menu--open .iml-mobile-top {
        background: #fff;
        border-bottom: solid 1px #eceeef;
        position: relative;
        padding: .5rem 0; }
        .iml-mobile-navbar.menu--open .iml-mobile-top .iml-mobile-logo img {
          margin: 0 auto;
          height: 1.5rem; }
      .iml-mobile-navbar.menu--open .iml-mobile-bottom {
        padding: .5rem 0;
        background: #f7f7f9; }
      .iml-mobile-navbar.menu--open .mobile-menu {
        margin: 0;
        padding: 0;
        background: #fff; }
        .iml-mobile-navbar.menu--open .mobile-menu li {
          list-style-type: none;
          padding: .5rem 1rem;
          font-size: 1rem;
          border-bottom: #eceeef solid 1px; }
          .iml-mobile-navbar.menu--open .mobile-menu li.active {
            background: #f7f7f9; }
            .iml-mobile-navbar.menu--open .mobile-menu li.active a {
              color: #ed9118; }
          .iml-mobile-navbar.menu--open .mobile-menu li:hover {
            background: #f7f7f9; }
          .iml-mobile-navbar.menu--open .mobile-menu li i {
            float: right;
            font-size: 1.25rem;
            color: #818a91;
            margin-top: .2rem; }

  .iml-mobile-menu .container {
    position: relative; }
  .iml-mobile-menu .iml-mobile-logo img {
    margin: 0 auto;
    height: 1.5rem; }

  .iml-mobile-wrapper.menu--open {
    left: 80%;
    margin-right: -80%;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0; }
    .iml-mobile-wrapper.menu--open .iml-mobile-menu {
      position: relative; }
    .iml-mobile-wrapper.menu--open .iml-default-content {
      padding-top: 0rem; }

  .iml-default__banner {
    text-align: left;
    background: url(../../images/mobile-hero-img_640.jpg) center center no-repeat;
    /*.iml-logo--b img{width: 300px; margin: 0 auto;}*/ }
    .iml-default__banner .iml-what img {
      position: relative;
      height: 5rem;
      width: auto;
      position: relative;
      left: 0;
      top: 0; }
    .iml-default__banner .iml-what .inner {
      padding: 1rem 0rem;
      background: none;
      text-align: center; }
    .iml-default__banner .iml-what .inner h3 {
      margin-bottom: 0;
      font-size: 1.25rem; }
    .iml-default__banner .iml-what .inner p b {
      font-size: 1.25rem;
      color: #ED9118; }
    .iml-default__banner .iml-what .inner p {
      font-size: 1rem; }

  .google__img, .iml-logo--b img {
    display: none; }

  .iml-using-schools {
    text-align: center;
    padding: 1rem .5rem; }
    .iml-using-schools h2 {
      font-size: 2rem; }
    .iml-using-schools .lead {
      font-size: 1.25rem; }
    .iml-using-schools .sign-btn {
      margin-top: 1rem; }

  .partner-area-bottom img {
    margin-bottom: .5rem; }

  .iml-why h3 {
    font-size: 1.5rem; } }
@media (min-width: 48em) {
  .iml-default-content {
    padding-top: 2.6rem; }

  .iml-default-header {
    display: block; }

  .iml-mobile-menu, .iml-ipt-grp {
    display: none; }

  .go-left {
    margin-left: 0px;
    position: relative;
    padding-top: 0px; }

  .trigger-top {
    z-index: 10004; }

  .overlay {
    display: none; }

  .synd-stack {
    margin-bottom: .5rem; }

  .iml-default-header {
    min-height: 2.5rem;
    border-bottom-width: 1px;
    background: rgba(255, 255, 255, 0.95); }
    .iml-default-header .btn {
      margin: 0rem; }
    .iml-default-header .default-navbar {
      position: relative;
      width: 100%;
      height: 100%; }
    .iml-default-header .iml-default-logo {
      display: block;
      float: left; }
      .iml-default-header .iml-default-logo img {
        margin-top: 1rem;
        height: 42px; }
    .iml-default-header .navbar-nav {
      float: left; }
      .iml-default-header .navbar-nav .nav-item {
        float: left; }
        .iml-default-header .navbar-nav .nav-item i {
          display: none; }
    .iml-default-header .iml-d-nav {
      display: block;
      line-height: 4.75rem;
      font-size: 0.85rem; }
      .iml-default-header .iml-d-nav li a {
        padding: 0rem .5rem; }
      .iml-default-header .iml-d-nav li.active a {
        margin-bottom: -0.25rem;
        border-bottom-width: 0.25rem; }
    .iml-default-header .iml-t-btn {
      float: right;
      display: block;
      position: relative;
      margin-top: 1.187rem;
      border-top: none;
      padding-top: 0rem; }
      .iml-default-header .iml-t-btn .btn {
        padding: 0.375rem 1rem;
        font-size: 0.85rem;
        line-height: 1.5;
        border-radius: 0.25rem; }
    .iml-default-header .iml-sm-logo, .iml-default-header .iml-navbar-toggle {
      display: none; }
    .iml-default-header .iml-or {
      margin: 0 .25rem; }
    .iml-default-header .btn--default {
      border-width: 1px; }
    .iml-default-header .iml-d-nav {
      line-height: 1rem;
      font-size: 0.75rem;
      line-height: 2.5rem;
      margin: 0 0rem; }
      .iml-default-header .iml-d-nav li.active a {
        border-bottom-width: 2px;
        margin-bottom: -1px; }
    .iml-default-header .iml-default-logo img {
      margin-top: .5rem;
      height: 24px; }
    .iml-default-header .iml-t-btn {
      margin-top: .4rem; }
      .iml-default-header .iml-t-btn .btn {
        padding: 0.25rem 0.75rem;
        font-size: 0.75rem;
        line-height: 1.5;
        border-radius: 0.25rem; }

  .iml-default__banner {
    background: url(../../images/mobile-hero-img_1280.jpg) center center no-repeat; }
    .iml-default__banner .google__img, .iml-default__banner .iml-logo--b img {
      display: inline-block; }
    .iml-default__banner .iml-logo--b {
      padding: 1rem 0; }
    .iml-default__banner .iml-what img {
      height: 6rem;
      width: auto;
      position: relative;
      left: 0;
      top: 0; }
    .iml-default__banner .iml-what .inner {
      padding: 1rem 0rem;
      background: none;
      text-align: center; }
    .iml-default__banner .iml-what .inner h3 {
      margin-bottom: 0;
      font-size: 1.75rem;
      margin-top: .5rem; }
    .iml-default__banner .iml-what .inner p b {
      font-size: 1rem;
      color: #ED9118;
      text-transform: uppercase; }
    .iml-default__banner .iml-what .inner p {
      font-size: 1rem; }

  .iml-using-schools {
    height: 500px;
    text-align: center;
    padding-top: 110px; }
    .iml-using-schools h2 {
      font-size: 5rem; }
    .iml-using-schools .lead {
      font-size: 2rem; }
    .iml-using-schools .sign-btn {
      margin-top: 2.5rem; }

  .partner-area-bottom img {
    margin-bottom: .5rem; }

  .im-mobile-app__download .iml-ipt-grp {
    margin-top: 1rem; } }
@media (min-width: 62em) {
  .iml-default-content {
    padding-top: 80px; }

  .synd-stack {
    margin-bottom: 0; }

  .iml-default-header, .iml-ipt-grp {
    display: block; }

  .iml-mobile-menu {
    display: none; }

  .go-left {
    margin-left: 0px;
    position: relative;
    padding-top: 0px; }

  .trigger-top {
    z-index: 10004; }

  .overlay {
    display: none; }

  .iml-default-header {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-bottom-width: 0.25rem;
    min-height: 5rem; }
    .iml-default-header .btn {
      margin: 0rem; }
    .iml-default-header .default-navbar {
      position: relative;
      width: 100%;
      height: 100%; }
    .iml-default-header .iml-default-logo {
      display: block;
      float: left; }
      .iml-default-header .iml-default-logo img {
        margin-top: 1rem;
        height: 42px; }
    .iml-default-header .navbar-nav {
      float: left; }
      .iml-default-header .navbar-nav .nav-item {
        float: left; }
        .iml-default-header .navbar-nav .nav-item i {
          display: none; }
    .iml-default-header .iml-d-nav {
      display: block;
      line-height: 4.75rem;
      font-size: 0.85rem; }
      .iml-default-header .iml-d-nav li a {
        padding: 0rem .5rem; }
      .iml-default-header .iml-d-nav li.active a {
        margin-bottom: -0.25rem;
        border-bottom-width: 0.25rem; }
    .iml-default-header .iml-t-btn {
      float: right;
      display: block;
      position: relative;
      margin-top: 1.187rem;
      border-top: none;
      padding-top: 0rem; }
      .iml-default-header .iml-t-btn .btn {
        padding: 0.375rem 1rem;
        font-size: 0.85rem;
        line-height: 1.5;
        border-radius: 0.25rem; }
    .iml-default-header .iml-sm-logo, .iml-default-header .iml-navbar-toggle {
      display: none; }
    .iml-default-header .iml-or {
      margin: 0 .25rem; }

  .iml-default__banner {
    background: url(../../images/mobile-hero-img_1920.jpg) center center no-repeat;
    background-size: 100% auto; }
    .iml-default__banner .google__img, .iml-default__banner .iml-logo--b img {
      display: inline-block; }
    .iml-default__banner .iml-logo--b {
      padding: 1rem 0; }
    .iml-default__banner .iml-what img {
      height: 6rem;
      width: auto;
      position: relative;
      left: 0;
      top: 0; }
    .iml-default__banner .iml-what .inner {
      padding: 1rem 0rem;
      background: none;
      text-align: center; }
    .iml-default__banner .iml-what .inner h3 {
      margin-bottom: 0;
      font-size: 1.75rem;
      margin-top: .5rem; }
    .iml-default__banner .iml-what .inner p b {
      font-size: 1.25rem;
      color: #fff;
      text-transform: uppercase; }
    .iml-default__banner .iml-what .inner p {
      font-size: 1rem; }

  .iml-using-schools {
    height: 500px;
    text-align: center;
    padding-top: 110px; }
    .iml-using-schools h2 {
      font-size: 5rem; }
    .iml-using-schools .lead {
      font-size: 2rem; }
    .iml-using-schools .sign-btn {
      margin-top: 2.5rem; }

  .partner-area-bottom img {
    margin-bottom: 0rem; }

  .banner-sm img {
    margin: 0; }

  .im-mobile-app__download .iml-ipt-grp {
    margin-top: 0rem;
    display: inline; } }
/*B&W*/
.bw {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .3; }

.bw:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  opacity: 1; }

.iml-icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #19589b; }

.iml-navbar-toggle .iml-icon-bar + .iml-icon-bar {
  margin-top: 4px; }

.iml-d-nav {
  margin: 0 1.5rem; }
  .iml-d-nav a {
    color: #818a91;
    display: block; }
  .iml-d-nav a:hover {
    text-decoration: none;
    color: #55595c; }
  .iml-d-nav li.active a {
    color: #55595c;
    border-bottom: 0.25rem solid #f0ad4e; }

.spancheckbox {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .spancheckbox h4 {
    display: inline-block;
    vertical-align: middle; }
  .spancheckbox .checked:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 15px;
    margin: -2px 2px 0 0;
    display: block;
    pointer-events: none;
    font-family: 'Glyphicons Halflings'; }
  .spancheckbox .character-checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block; }

.video--background {
  position: relative; }

.video-preview, .video-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 5;
  width: auto;
  height: auto; }

.video-mask {
  z-index: 10;
  background: #2D578B;
  opacity: .7; }

.banner__main {
  position: relative;
  z-index: 100;
  color: #fff; }

.shadow-filter-img {
  /* For IE 8 */
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=0,Color='#fff')";
  /* chrome */
  -webkit-filter: drop-shadow(1px 0px 0px white);
  /* others */
  filter: drop-shadow(1px 0px 0px white); }

.shadow-filter {
  /* for IE 8 & 9 */
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=0,Color='#fff')";
  /* Firefox */
  /* chrome */
  -webkit-filter: drop-shadow(1px 0px 0px white);
  /* others */
  filter: drop-shadow(1px 0px 0px white); }

.video-bg {
  background-position: top center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -30px; }

.ytplayer-container {
  position: absolute;
  top: 0;
  z-index: -1; }

.placeholder-image {
  width: 100%;
  position: absolute;
  top: 110px;
  left: 0; }

.navbar-sticky {
  min-height: 2.5rem;
  border-bottom-width: 1px;
  border-color: #e1e1e1;
  background: rgba(255, 255, 255, 0.95); }
  .navbar-sticky .btn--default {
    border-width: 1px; }
  .navbar-sticky .iml-d-nav {
    line-height: 1rem;
    font-size: 0.75rem;
    line-height: 2.5rem; }
    .navbar-sticky .iml-d-nav li.active a {
      border-bottom-width: 2px;
      margin-bottom: -1px; }
  .navbar-sticky .iml-default-logo img {
    margin-top: .5rem;
    height: 24px; }
  .navbar-sticky .iml-t-btn {
    margin-top: .4rem; }
    .navbar-sticky .iml-t-btn .btn {
      padding: 0.25rem 0.75rem;
      font-size: 0.75rem;
      line-height: 1.5;
      border-radius: 0.25rem; }

.primary-title {
  background: #086308;
  color: #fff; }

.iml-ul-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: solid 1px #eceeef; }
  .iml-ul-list li.photos {
    float: left;
    padding: .5rem .5rem;
    margin: 0; }
    .iml-ul-list li.photos a {
      display: block; }
      .iml-ul-list li.photos a img {
        width: 100%;
        height: 100%; }
  .iml-ul-list:before, .iml-ul-list:after {
    content: " ";
    display: table; }
  .iml-ul-list:after {
    clear: both; }

.iml-alert {
  padding: .5rem 1rem;
  margin-bottom: .5rem;
  line-height: 2rem;
  border: none;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12); }
  .iml-alert:before, .iml-alert:after {
    content: " ";
    display: table; }
  .iml-alert:after {
    clear: both; }

.iml-media {
  overflow: visible; }
  .iml-media .team-logo img {
    width: 3rem;
    height: 3rem; }

.a-box {
  border: #eceeef solid 1px;
  cursor: pointer;
  padding: .5rem; }
  .a-box.min-h {
    min-height: 6.875rem; }
  .a-box.hover, .a-box:hover {
    background: #f7f7f9; }
  .a-box .rank-title {
    text-align: center;
    font-size: 0.85rem;
    margin-bottom: .5rem; }
  .a-box .rank-points {
    position: relative;
    margin: 0 .5rem; }
    .a-box .rank-points h4 {
      line-height: 3rem;
      margin-bottom: 0; }
    .a-box .rank-points small {
      position: absolute;
      right: 0;
      top: 0;
      color: #818a91; }
  .a-box .roster-item {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .a-box .roster-item li {
      position: relative;
      padding-left: 1rem; }
      .a-box .roster-item li i {
        position: absolute;
        left: 0;
        top: .25rem; }
  .a-box.c-t-shirts {
    padding-left: 4.5rem; }
    .a-box.c-t-shirts .c-t {
      width: 3rem;
      position: absolute;
      left: 1rem;
      top: 1rem; }
  .a-box .game-info-table {
    width: 100%; }
    .a-box .game-info-table tbody {
      vertical-align: middle; }
    .a-box .game-info-table td small {
      display: block; }
    .a-box .game-info-table td h5 {
      margin-bottom: 0; }

.game-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .game-list li {
    margin-bottom: .5rem; }

.mobile-app-banner {
  padding: .5rem 6rem .5rem .5rem;
  position: relative;
  font-size: 0.75rem; }
  .mobile-app-banner .mobile-app-img {
    position: absolute;
    right: 0;
    bottom: 0; }

.card-end-btn {
  margin-top: .25rem; }

/*# sourceMappingURL=iml-theme.css.map */
